@media (min-width:284px) and (max-width:699px) {
  /* nav{
    margin-bottom: 15px;
  } */
  /* .contenedor{
    
    width:55%;   */
  h1 {
    /* width:80%; */
    font-size: 180%;
    margin-block: 15px;
  }

  ul {
       /* background-color: rgb(161, 126, 126); */
       
  }

  li {
    font-size: 0.9rem;
  }
.contenedor{
  margin-block:15px;
}
  #panel {
    width: 100%;
  }
}

@media (min-width:700px) and (max-width:1299px) {
  /* nav{
    margin-bottom: 15px;
  } */
  .contenedor {
    /* width:600px; */
    width: 60%;
  }

  h1 {
    /* width:80%; */
    font-size: 200%;
  }

  ul {
    /* background-color: rgb(140, 161, 126); */
  }

  li p {
    font-size: 0.7rem;
  }
  .contenedor{
    margin-block:15px;
  }

}

@media (min-width:1300px) {
  /* nav{
    margin-bottom: 15px;
  } */
  .contenedor {
    /* width:600px; */
    width: 55%;
  }

  h1 {
    /* width:80%; */
    font-size: 200%;
  }

  ul {
    background-color: #8ca17e;
  }
  .contenedor{
    margin-block:15px;
  }

  #panel {
    display: block;
  }

  #cierrePanel {
    display: none;
  }
}