body.modoOscuro {
  --color-nav: linear-gradient(to bottom, #1d1d1b 0%, #1d1d1b 20%, #43433f 50%, #818980 100%);
  --color-ul: #5a6652;
  --color-fondoBody: linear-gradient(to bottom, #6a6f6a 0%, #1d1d1b 100%);
  --color-background: #30343f;
  --color-panel: #292a29;
  --color-ingresos: #464541;
  --color-ingresosHover: #6a6962;
  --color-fondoInputRange: #92958f;
  --color-bordeInputRange: 1px solid #ecf3e9;
  --color-fomatoBotonInputRange: radial-gradient(circle at center, #cce9c3, #393b39);
  --color-inputRangeHover: #78766e;
  --color-bordeBoton: 1.5px solid #9ea2a7;
  --color-texto: #ffffff;
  --color-error: #ff0000;

  --border-radius: 3px;
}

body.modoClaro {
  --color-nav: linear-gradient(to bottom, #a3a37a 0%, #ffffff 90%, #a3a37a 100%);
  --color-ul: #8ca17e;
  --color-fondoBody: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #a3a37a 100%);
  --color-panel: #e5e2ce;
  --color-ingresos: #cfcdb8;
  --color-ingresosHover: #aaa899;
  --color-inputActiveFondo: #bfc2bc;
  --color-bordeInputRange: 1px solid #0c0e0b;
  --color-fomatoBotonInputRange: radial-gradient(circle at center, #cce9c3, #000000);
  --color-inputRangeHover: #aaa899;
  --color-bordeBoton: 1.5px solid #18191a;
  --color-texto: #0c0b0b;
  --color-title-panel: rgb(33 33 33 / 80%);
  --color-title-control: rgb(33 33 33 / 70%);
  --color-error: #ff0000;

  --border-radius: 3px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  min-width: 240px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background: var(--color-fondoBody);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3px;
}

nav {
  background: var(--color-nav);
  display: flex;
  flex-direction: column;
  height: 104px;
  width: 100%;
}

h1 {
  color: var(--color-texto);
  font-size: 120%;
  margin-top: 10px;
  margin-bottom: 6px;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6%;
  list-style-type: none;
  font-size: 20%;
  text-align: center;
  background: var(--color-ul);
  box-shadow: 0px 1px 8px 0.1px #1c1a1a;
  padding-block: 5px;
}

.li {
  color: var(--color-texto)!important;
}

li:hover {
  transform: scale(1.15);
}

button {
  all: unset;
  cursor: pointer;
}

button:focus,
select:focus,
input[type="text"]:focus,
input[type="number"]:focus {
  box-shadow: 0px 1px 1px 0px #626262;
  transform: scale(1.05);
  border-color: 2px solid black;
}

select:focus {
  box-shadow: 0px 1px 1px 0px #626262;
  transform: scale(1.05);
  border-color: 2px solid black;
  background: #bdc9c0;
}

input[type="color"]:focus,
input[type="checkbox"]:focus {
  transform: scale(1.2);
}

.opcion button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #000000;
  font-size: 10px;
  font-weight: 800;
  border-radius: var(--border-radius);
  padding: 7px;
}

button:active {
  box-shadow: 0px 0px 6px 1px #210f28;
}

.contornoBoton {
  display: flex;
  align-items: center;
}

.contornoBoton i {
  margin-inline: 5px;
  font-size: 16px;
}

p,
i {
  color: var(--color-texto);
}

.contenedor {
  width: 100%;
  max-width: 750px;
  margin-top: 13px;
  margin-bottom: 8px;
  margin-inline: auto;
  padding-inline: 4%;
}


.tarjeta {
  width: 100%;
  height: 71vh;
  box-shadow: 0px 0px 9px 0px black;
  display: flex;
  align-items: center;
  position: relative;
}

.franja {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden !important;
}

.franja h2 {
  font-family: arial;
  font-size: 36px;
  line-height: 1;
  color: black;
  padding-block: 5px;
  padding-inline: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 5;
}

#franja1 {
  padding-block: 15px;
  background: linear-gradient(to bottom, rgb(118, 97, 97)0%, #a3a37a 9%, #FFFFFF 30%, #FFFFFF 50%, #a3a37a 93%, rgb(118, 97, 97) 100%);
  position: absolute;
  top: 0;
  z-index: 4;
}

#franja2 {
  height: -webkit-fill-available;
  background: radial-gradient(circle, #fcfbf2, #bebc99);
  position: relative;
}

#franja2Aux {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgError {
  font-size: 10px;
  color: var(--color-error);
  font-weight: 600;
  padding-left: 3px;
}

#franja3 {
  background: linear-gradient(to bottom, rgb(118, 97, 97)0%, #a3a37a 7%, #FFFFFF 30%, #FFFFFF 50%, #a3a37a 91%, rgb(118, 97, 97) 100%);
  padding-block: 15px;
  height: 66px;
  position: absolute;
  bottom: 0;
  z-index: 4;
}


/* Formato Paneles de imagen y texto - Inicio */
.hidden {
  display: none;
}

.ocultoSinModificar {
  visibility: hidden;
}

.flex {
  display:flex;
}

#panel {
  padding: 25px 40px 15px;
  height: 99.95vh;
  width: 240px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--color-panel);
  box-shadow: 0px 0px 5px 0px #526534;
  z-index: 10;
}

#panelImagen {
  display: none;
  z-index: 3;
}

#panelTexto {
  z-index: 2;
}

#cierrePanel {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: var(--border-radius);
  font-size: 16px;
  font-weight: 800;
  width: 15px;
  height: 15px;
  padding: 3px;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.tituloPanel {
  text-align: center;
  color: var(--color-texto);
  text-shadow: 0px 0px 0.5px #101010;
}

.subtitulo {
  color: var(--color-texto);
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 600;
  text-shadow: 0px 0px 1px #101010;
}

.panelInterior {
  margin-top: 14px;
}

label,
::placeholder,
button {
  color: var(--color-texto);
}

.contenIngreso input,
.contenIngreso select,
.contenIngresoIm input,
.contenIngresoIm select {
  background: var(--color-ingresos);
  color: var(--color-texto);
  outline: 0;
  border: 0;
  border-radius: var(--border-radius);
  height: 30px;
  font-size: 10px;
  font-weight: 400;
  font-family: 'ROBOTO';
  cursor: pointer;
  padding: 10px;
}

.ingresoEtiqueta {
  height: 30px;
  background-color: var(--color-ingresos);
  border-radius: var(--border-radius);
  font-size: 10px;
  padding-left: 7px;
  display: flex;
  align-items: center;
}

#boxSubirImg {
  display: flex;
  gap: 10px;
}

#boxIngURL {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

#ingresoURL {
  width: 100%;
  padding-right: 20px;
}

#btnBorrarURL {
  position: absolute;
  display: flex;
  align-items: center;
  right: 3px;
  font-size: 12px;
  font-weight: 700;
  padding: 3px;
}

#btnBorrarURL:hover {
  display: flex;
  align-items: center;
  font-size: 14px;
}

#subirImagenIcono {
  background: var(--color-ingresos);
  color: var(--color-texto);
  border-radius: var(--border-radius);
  font-size: 12px;
  padding: 6px;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgb(16, 16, 16) !important;
  background-color: rgb(63, 57, 57) !important;
}

#cierrePanel:hover,
.descargaBoton:hover,
.alineacion:hover,
.colorTexto:hover,
.fondoTexto:hover,
.opcionContorno:hover,
.reestablecer:hover {
  text-shadow: 0px 0px 0.5px #363131;
  background-color: var(--color-ingresosHover);
}

/* Estilos sólo del panel Texto  */
.contenIngreso {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.tilde {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  height: 10px;
  margin-top: 5px;
}

.tilde label {
  margin-left: 7px;
}

input[type="checkbox"],
select {
  background-color: #f4f3e7bd;
  border: 1.5px solid #18191a;
  border-radius: 2px;
}

#formatoTexto select {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}

select {
  padding-right: 25px;
  padding-top: 8px !important;
  padding-bottom: 10px !important;
  margin: 0px;
  border: 0px;
}


select::-webkit-inner-spin-button {
  /* para el formato de las flecha*/
  background-color: #f4f3e7bd;
  margin: 0;
}

select::-webkit-inner-spin-button:hover {
  border: 0px solid transparent !important;
  border-color: transparent;
}

/* Estilo para la flecha personalizada */
select::after {
  content: '\25BC';
  transform: translateY(-50%);
}

select:hover,
input:hover {
  background-color: var(--color-ingresosHover);
}

#tamanioFuenteAlinea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3px;
}

#alineacion {
  border-radius: var(--border-radius);
  height: 30px;
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3px;
  margin-bottom: 3px
}

.alineacion {
  height: 30px;
  border-radius: var(--border-radius);
  background: var(--color-ingresos);
  text-align: center;
}

.iconoAlineacion {
  margin: 0px;
  padding: 0px;
}

.contenIngresoColorYFondo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

input[type="color"] {
  appearance: auto;
  width: 20px;
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-top: 3px;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  height: 15px;
  width: 20px;
}

.formatoBotonesContorno {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3px;
}

.opcionContorno {
  padding: 0px;
  display: flex;
  justify-content: center;
}


/* Estilos sólo del panel Imgen  */
.contenIngresoIm {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.contenFondo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
}

.otrasOpcionesImagen,
#otrasOpcionesImagen {
  width: 100%;
}

.filtroRango {
  display: flex;
  margin-block: 4px;
  color: var(--color-texto);
  text-shadow: 0px 0px 0.5px #101010;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
}

.contenIngresoImFilt {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.contenIngresoImFilt input {
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: var(--border-radius);
  border-style: none;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--color-fomatoBotonInputRange);
  border: var(--color-bordeBoton);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"] {
  background-color: var(--color-ingresos);
  height: 5px;
}

input[type="range"]:hover {
  background-color: var(--color-ingresosHover);
}

input[type="range"]:focus {
  background-color: grey;
  border: var(--color-bordeInputRange);
}

.contenReestablecer {
  margin-top: 25px
}

#botonReestablecer {
  padding-inline: 17px;
  font-size: 14px;
  color: var(--color-texto);
  text-shadow: 0px 0px 1px #101010;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

#botonDescarga {
  text-align:center;
}

.descargaBoton {
  border: 1px solid grey;
  outline: none;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  border-radius: var(--border-radius);
  padding: 7px;
  background: linear-gradient(to bottom, rgb(140, 161, 126) 0%, rgb(90, 104, 81) 90%);
  box-shadow: 0px 1px 8px 0.1px #1c1a1a;
}

.descargaBoton:hover {
  background: linear-gradient(to bottom, rgb(90, 104, 81) 0%, rgb(140, 161, 126) 90%)
}

#copy {
  font-size: 8px;
  font-weight: 900;
  padding-top: 7px;
  text-align: center;
}

.transition_element {
  transition: padding-right 0.5s ease, margin-right 0.5s ease;
}

/* Estilo inicial para los paneles */
#panelImagen,
#panelTexto {
  /* max-height: 0; */
  opacity: 0;
  /* overflow: hidden; */
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

/* Mostrar los paneles */
#panelImagen.mostrar,
#panelTexto.mostrar {
  /* max-height: 500px; */
  /* Ajusta la altura máxima según sea necesario */
  opacity: 1;
}